.calendarWrapper {
    width: 100%;
}

.card {
    width: 100%;
    max-height: 230px;
}

.table {
    text-align: center;
    min-height: 175px;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    color: white;
}

.todayCell {
    background-color: rgba(205, 205, 205, 0.5);
    color: white;
    border-radius: 5px;
}

.headerCell {
    height: 25px;
    width: 14.25%;
    cursor: pointer;
    font-weight: 500;
}

.rowCell {
    height: 30px;
    width: 14.25%;
    font-weight: 300;
    font-size: 14px;
}

.selectedStartCellWithoutEndDate {
    color: black;
    background-color: rgb(255 255 255);
    border-radius: 5px;
}

.selectedDateIndicator {
    background-color: rgb(0 0 0);
}

.unselectedDateIndicator {
    background-color: rgb(255 255 255);
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .table {
        max-width: calc(100% - 20px);
    }

    .card {
        max-width: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
