.container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 100px;
    gap: 20px;
}

.widgetContainer {
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.lastRow {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.textCenter {
    margin: 0 auto;
}
