.container {
    position: absolute;
    top: 0;
    left: 0;
}

.containerNight {
    transition: background;
    background-color: rgba(9, 0, 20, 1);
}

.containerDay {
    transition: background;
    background-color: rgba(0, 202, 255, 1);
}

.containerSunshine {
    background: rgb(255, 226, 130);
    background: linear-gradient(
        180deg,
        rgba(255, 226, 130, 0.1) 0%,
        rgba(255, 226, 130, 1) 30%,
        rgba(252, 168, 116, 1) 50%,
        rgba(252, 168, 116, 1) 55%,
        rgba(255, 226, 130, 1) 80%,
        rgba(0, 202, 255, 0.3) 90%,
        rgba(255, 226, 130, 0) 100%
    );
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
}

.sun {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    top: 34%;
    left: 10%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
    -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
    box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
    animation: suntravel linear forwards;
    z-index: 40;
}

.moon {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: silver;
    top: 34%;
    left: 10%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 0);
    -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 0);
    box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 0);
    animation: moontravel linear forwards;
    z-index: 41;
}

.rise {
    animation: sunrise linear forwards;
    bottom: 90px;
}

.visible {
    transition: opacity;
    opacity: 1;
}

.invisible {
    transition: opacity;
    opacity: 0;
}

.greyOverlay {
    background-color: rgba(100, 100, 100, 0.1);
}

@keyframes moontravel {
    0% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        top: 28%;
        left: 10%;
    }
    5% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 1);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 1);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 1);
        top: 19%;
        left: 14%;
    }
    10% {
        top: 13%;
        left: 18%;
    }
    15% {
        top: 9%;
        left: 22%;
    }
    20% {
        top: 6%;
        left: 26%;
    }
    25% {
        top: 4%;
        left: 30%;
    }
    30% {
        top: 3%;
        left: 34%;
    }
    35% {
        top: 3%;
        left: 38%;
    }
    40% {
        top: 3%;
        left: 42%;
    }
    45% {
        top: 3%;
        left: 46%;
    }
    50% {
        top: 3%;
        left: 50%;
    }
    55% {
        top: 3%;
        left: 54%;
    }
    60% {
        top: 3%;
        left: 58%;
    }
    65% {
        top: 4%;
        left: 62%;
    }
    70% {
        top: 6%;
        left: 66%;
    }
    75% {
        top: 8%;
        left: 70%;
    }
    80% {
        top: 11%;
        left: 74%;
    }
    85% {
        top: 15%;
        left: 78%;
    }
    90% {
        top: 20%;
        left: 82%;
    }
    95% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 1);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 1);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 1);
        top: 28%;
        left: 86%;
    }
    100% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 0);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 0);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 255, 0);
        top: 37%;
        left: 90%;
    }
}

@keyframes suntravel {
    0% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        top: 28%;
        left: 10%;
    }
    5% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 1);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 1);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 1);
        top: 19%;
        left: 14%;
    }
    10% {
        top: 13%;
        left: 18%;
    }
    15% {
        top: 9%;
        left: 22%;
    }
    20% {
        top: 6%;
        left: 26%;
    }
    25% {
        top: 4%;
        left: 30%;
    }
    30% {
        top: 3%;
        left: 34%;
    }
    35% {
        top: 3%;
        left: 38%;
    }
    40% {
        top: 3%;
        left: 42%;
    }
    45% {
        top: 3%;
        left: 46%;
    }
    50% {
        top: 3%;
        left: 50%;
    }
    55% {
        top: 3%;
        left: 54%;
    }
    60% {
        top: 3%;
        left: 58%;
    }
    65% {
        top: 4%;
        left: 62%;
    }
    70% {
        top: 6%;
        left: 66%;
    }
    75% {
        top: 8%;
        left: 70%;
    }
    80% {
        top: 11%;
        left: 74%;
    }
    85% {
        top: 15%;
        left: 78%;
    }
    90% {
        top: 20%;
        left: 82%;
    }
    95% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 1);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 1);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 1);
        top: 28%;
        left: 86%;
    }
    100% {
        -webkit-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        -moz-box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        box-shadow: 0px 0px 64px 7px rgba(255, 242, 0, 0);
        top: 37%;
        left: 90%;
    }
}

@keyframes sunrise {
    0% {
        top: 37%;
        opacity: 1;
    }
    50% {
        top: 0%;
        opacity: 1;
    }
    99% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}
