.container {
    opacity: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 110;
    animation: opening 0.2s linear forwards;
}

@keyframes opening {
    from {
        transform: rotateX(90deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0);
        opacity: 1;
    }
}
